name: Test, Lint and Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.14.0' 
    
    - name: Install dependencies
      run: |
        go version
        go get -u golang.org/x/lint/golint
        
    - name: Run build
      run: cd utils && go build && cd ..
      
    - name: Run vet & lint
      run: |
        go vet -json ./...
        cd utils && go vet -json ./... && cd ..
        golint ./...
  
    - name: Run testing
      run: go test -v
    